* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#dddbd1, #d2dbdc);
  font-family: 'Roboto', sans-serif;
}

/* header */
header {
  height: 100px;
  background-color: #009688;
}

i {
  color: #b1b1b1;
}

.container {
  width: 950px;
  height: calc(100vh - 40px);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.container > div {
  display: flex;
  flex-direction: column;
}

/* left */
.left {
  flex-basis: calc(100% / 3 + 50px);
  background-color: #eaeaea;
  border-right: 1px solid lightgrey;
}

.left > div:not( .contacts){
  padding: 10px;
}

/* user */
.user {
  display: flex;
  align-items: center;
}

.user-img img {
  width: 65px;
  border-radius: 50%;
}

.user-name {
  flex-grow: 1;
  padding-left: 10px;
}

.user-icons {
  font-size: 25px;
}

.user-icons i {
  padding-right: 10px;
}

/* notifications */
.notifications {
  display: flex;
  background-color: #8edafc;
}

.notifications i {
  /* margin-left: 15px; */
  padding: 15px 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
}

.notifications-text {
  padding-left: 15px;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.notifications-text .not-down {
  font-size: 15px;
  color: grey;
  text-decoration: underline;
}

/* search */
.search {
  padding: 10px;
}

.search-box {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}

.search-icon {
  padding: 10px 20px;
  border-right: 1px solid lightgrey;
}

.search-icon i {
  font-size: 20px;
}

.search-box input {
  margin-left: 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

/* contacts */
.contacts {
  flex-grow: 1;
  background-color: white;
  overflow-y: scroll;
}

.contact {
  padding: 10px;
  display: flex;
  font-size: 17px;
}

.contact.active {
  background-color: #8edafc;
}

.contact:not(:first-child) {
  border-top: 1px solid #eaeaea;
}

.contact img {
  width: 65px;
  border-radius: 50%;
}

.contact-chatbox {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-last-message {
  width: 200px;
  font-size: 13px;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* right */
.right {
  flex-grow: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* chat-top */
.chat-top {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
}

.chat-top-img img {
  width: 65px;
  border-radius: 50%;
}

.chat-top-contact {
  flex-grow: 1;
  padding-left: 15px;
}

.chat-top-contact .c-down {
  font-size: 15px;
  color: grey;
}

.chat-top-icons {
  font-size: 25px;
}

.chat-top-icons i {
  padding-right: 15px;
}

/* chat-middle */
.chat-middle {
  padding: 20px 30px;
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
  background-size: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: calc(50% - 50px);
  padding: 5px 15px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.message-received {
  background-color: white;
  align-self: flex-start;
}

.message-sent {
  background-color: #dbf8c5;
  align-self: flex-end;
}

.message-text {
  word-break: break-word;
}

.message-setting {
  margin-left: 15px;
}

.message-time {
  position: absolute;
  bottom: 1px;
  right: 12px;
  /* transform: translateX(50%); */
  font-size: 9px;
  color: grey;
}

/* chat-down */
.chat-down {
  padding: 10px 0;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
}

.chat-down i {
  font-size: 30px;
  padding: 0 30px;
  color: grey;
}

.chat-down-message {
  flex-grow: 1;
  background-color: white;
  border: 1px solid lightgray;
}

.chat-down-message input{
  margin-left: 20px;
  height: 60px;
  width: calc(100% - 20px);
  font-size: 17px;
  outline: none;
  border: none;
}
