<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>

  <body>

    <header></header>

    <div class="container" id="app">

      <!-- left -->
      <div class="left">

        <!-- user -->
        <div class="user">

          <div class="user-img">
            <img :src="user.img" alt="user-img">
          </div>

          <div class="user-name">
            <span>{{ user.name}}</span>
          </div>

          <div class="user-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>
        <!-- / user -->

        <!-- notifications -->
        <div class="notifications">

          <div class="notifications-icon">
            <i class="fas fa-bell-slash"></i>
          </div>

          <div class="notifications-text">
            <div>

              <div class="not-top">
                Ricevi notifiche di nuovi messaggi
              </div>

              <div class="not-down">
                Attiva notifiche desktop
              </div>

            </div>
          </div>

        </div>
        <!-- / notifications -->

        <!-- search -->
        <div class="search">

          <div class="search-box">

            <div class="search-icon">
              <i class="fas fa-search"></i>
            </div>

            <div class="search-input">
              <input type="text" placeholder="Cerca o inizia una chat">
            </div>

          </div>

        </div>
        <!-- / search -->

        <!-- contacts -->
        <div class="contacts">

          <div v-for="(contact, index) in contacts" class="contact" @click="changeChat(index)">

            <div class="contact-img">
              <img :src="contact.img" alt="contact-img">
            </div>

            <div class="contact-chatbox">
              {{ contact.name }}
            </div>

          </div>

        </div>
        <!-- / contacts -->

      </div>
      <!-- / left -->

      <!-- right -->
      <div class="right" >

        <div class="right-container" v-for="contact in contacts" v-if="contact.current_chat">

          <!-- chat-top -->
          <div class="chat-top">

            <div class="chat-top-img">
              <img :src="contact.img" alt="contact-img" >
            </div>

            <div class="chat-top-contact">
              <div class="c-top">
                {{ contact.name }}
              </div>

              <div class="c-down">
                Ultimo accesso alle
              </div>
            </div>

            <div class="chat-top-icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>
          <!-- / chat-top -->

          <!-- chat -->
          <div class="chat-middle">

          </div>
          <!-- / chat -->

          <!-- chat-down -->
          <div class="chat-down">

            <div class="chat-down-emoji">
              <i class="far fa-smile"></i>
            </div>

            <div class="chat-down-message">
              <input type="text" placeholder="Scrivi un messaggio">
            </div>

            <div class="chat-down-audio">
              <i class="fas fa-microphone"></i>
            </div>

          </div>
          <!-- / chat-down -->

        </div>


      </div>
      <!-- / right -->

    </div>

    <!-- js -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- / js -->

  </body>

</html>
