<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
  </head>

  <body>

    <header></header>

    <div class="container" id="app">

      <!-- left -->
      <div class="left">

        <!-- user -->
        <div class="user">

          <div class="user-img">
            <img :src="user.img" alt="user-img">
          </div>

          <div class="user-name">
            <span>{{ user.name }}</span>
          </div>

          <div class="user-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>
        <!-- / user -->

        <!-- notifications -->
        <div class="notifications clickable" @click="switchNotification" :class="notification ? 'active' : ''">

          <div class="notifications-icon">
            <i v-if="notification" class="fas fa-bell"></i>
            <i v-else class="fas fa-bell-slash"></i>
          </div>

          <div class="notifications-text">
            <div>

              <div class="not-top">
                Ricevi notifiche di nuovi messaggi
              </div>

              <div class="not-down">
                Attiva notifiche desktop
              </div>

            </div>
          </div>

        </div>
        <!-- / notifications -->

        <!-- search -->
        <div class="search">

          <div class="search-box">

            <div class="search-icon clickable">
              <i class="fas fa-search"></i>
            </div>

            <div class="search-input">
              <input v-model="search" type="text" placeholder="Cerca o inizia una chat" @keyup="contactsFilter">
            </div>

          </div>

        </div>
        <!-- / search -->

        <!-- contacts -->
        <div class="contacts">

          <div v-for="(contact) in searchContacts" class="contact clickable" :class="(contact.current_chat) ? 'active' : ''" @click="changeChat(contact)" >

            <div class="contact-img">
              <img :src="contact.img" alt="contact-img">
            </div>

            <div class="contact-chatbox">
              {{ contact.name }}
              <div class="contact-last-message" v-if="contact.messages.length > 0">
                {{
                  contact.messages[contact.messages.length-1].text
                }}
              </div>
              <div class="contact-date-message" v-if="contact.messages.length > 0">
                {{
                  contact.messages[contact.messages.length-1].date
                }}
              </div>
            </div>

          </div>

        </div>
        <!-- / contacts -->

      </div>
      <!-- / left -->

      <!-- right -->
      <div class="right" >

        <!-- right-container -->
        <div class="right-container" v-for="contact in contacts" v-if="contact.current_chat">

          <!-- chat-top -->
          <div class="chat-top">

            <div class="chat-top-img">
              <img :src="contact.img" alt="contact-img">
            </div>

            <div class="chat-top-contact">
              <div class="c-top">
                {{ contact.name }}
              </div>

              <div class="c-down" v-if="contact.messages.length > 0">
                Ultimo accesso {{
                  contact.messages[contact.messages.length-1].date
                }}
              </div>
            </div>

            <div class="chat-top-icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>
          <!-- / chat-top -->

          <!-- chat-middle -->
          <div class="chat-middle">

            <div class="message" v-for="(message, index) in contact.messages" :class="(message.status == 'sent') ? 'message-sent' : 'message-received'" @mouseleave="message.setting = false" v-if="contact.messages.length > 0">

              <div class="message-text">
                {{ message.text }}
              </div>

              <div class="message-setting">

                <i class="fas fa-chevron-down" @click="switchSettingMessage(message)"></i>

                <div v-if="message.setting" class="setting-options">
                  <div class="option">Message info</div>
                  <div class="option" @click="deleteMessage(contact, index)">Delete message</div>
                </div>

              </div>

              <div class="message-time">
                {{ message.date }}
              </div>

            </div>

          </div>
          <!-- / chat-middle -->

          <!-- chat-down -->
          <div class="chat-down">

            <div class="chat-down-emoji">
              <i class="far fa-smile"></i>
            </div>

            <div class="chat-down-message">
              <input type="text" placeholder="Scrivi un messaggio" v-model="userMessage" @keydown.enter="sendUserMessage(contact)">
            </div>

            <div class="chat-down-audio">
              <i class="fas fa-microphone"></i>
            </div>

          </div>
          <!-- / chat-down -->

        </div>
        <!-- / right-container -->

      </div>
      <!-- / right -->

    </div>

    <!-- js -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- / js -->

  </body>

</html>
